version: "3.8"

services:
  web:
    build: ./app
    ports:
      - "80:5000"
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
